<ul>
    @foreach (var files in Model.ExplorerViewModel.files)
    {
        if (files.foldercode == Model.RootFolder.id - 1)
        {
            <li>
                <span class="file" data-fileid="@files.id" title="@files.filedescription">@files.filename</span>
                <button class="delete-file-button" data-fileid="@files.id">X</button>
                <button class="download-file-button" data-filename="@files.filename+@files.filetypecode" data-fileid="@files.id">S</button>
                <!-- Форма переименования файла -->
                <form asp-action="RenameFolder" asp-controller="Explorer" method="post">
                    <input type="hidden" name="id" data-fileid="@files.id" value="@files.id" />
                    <input type="text" name="newName" data-fileid="@files.id" placeholder="Новое имя файла" />
                    <button type="submit" id="renameFileButton" data-fileid="@files.id">Обновить имя файла</button>
                </form>
            </li>
        }
    }
</ul>
